.random-guys-mark{
    all: unset;
    background: rgb(255 255 0 / 60%);
    cursor: pointer;
}
.random-guys-mark * {
    all: initial;
    font-family: sans-serif !important;
}

.random-guys-mark:hover{
    background: rgb(226 192 68 / 60%);
    box-shadow: 0 0 2px 1px #E2C044;
}

.random-guys-root{
    font-family: sans-serif;
    position: absolute;
    box-sizing: border-box;

    transform: translate(0%, 1.5em);      /* 50% zamiast 100% */
    z-index: 9999999;


    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 8px;
    width: min(80vw, max(20vw, 350px));
    min-height: 5vh;

    display: none;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgba(51,51,51,0.5) ;
    transition-duration: 0.3s;
    font-size: 14px;
}

.random-guys-visible{
    display: inline-block;
    display: initial;
}


.random-guys-root:hover{
    box-shadow: 0 0 4px 0 rgba(51,51,51,0.6) ;
    border-color: #999
}

.random-guys-container, .random-guys-input{
    width: 100%;
}

.random-guys-container{
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.random-guys-container::-webkit-scrollbar {
    display: none;
}

.random-guys-message{
    border-bottom: 1px solid #E8EAED;
    padding: 8px;
    line-height: 2em;

    display: grid;
    grid-template-areas:
            "circle username downvotes upvotes"
            "circle content downvotes upvotes"
            ". content downvotes upvotes";
    grid-template-columns: 2em auto 2em 2em;
    grid-template-rows: 0.67em 1.33em auto;
    grid-column-gap: 8px;
}

.random-guys-message-circle{
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 50%;

    color: white;
    display: inline-block;

    grid-area: circle;
}

.random-guys-username{
    height: 0.67em;
    line-height: 0.67em;
    font-size: 0.67em;
    color: #333;
    font-weight: bold;

    grid-area: username;
}

.random-guys-content{
    line-height: 1em;
    font-size: 1em;
    color: black;
    line-break: anywhere;
    grid-area: content;
}

.random-guys-downvotes, .random-guys-upvotes{
    width: 2.5em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    border-left: 1px solid #e8eaed;
    line-break: anywhere;
}

.random-guys-downvotes{
    color: #A90C1C;
    grid-area: downvotes;
}

.random-guys-upvotes{
    color: #48A868;
    grid-area: upvotes;
}

.random-guys-message:last-of-type{
    border-bottom: none;
}

.random-guys-input{
    background-color: #fafafa;
    border-top: 1px solid #e8eaed;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    justify-content: space-around;
    align-items: baseline;
}

.random-guys-input > input{
    border: 1px solid #E8EAED;
    border-radius: 4px;
    background: #fff;
    padding: 4px;
    height: 2em;
    box-sizing: border-box;
    flex-grow: 1;
    font-family: sans-serif;
}

.random-guys-input > input:focus{
    border: 1px solid rgb(26,115,232);
}

.random-guys-input > button{
    cursor: pointer !important;
    margin-left: 10px;

    border-radius: 3px;
    border: 1px solid rgb(232, 234, 237);
    line-height: 22px;
    padding: 4px 6px;

    color: #75758b;
}

.random-guys-input > button:hover, .random-guys-input > button:focus {
    border: 1px solid rgb(26,115,232);
    color: rgb(26,115,232);
}